body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("bg grad.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#root {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 3rem;
}

.fa {
    color: white;
    margin: 0 1rem;
}

.shadow {
    text-shadow: #121212 3px 3px 3px;
}
